@use "./base.scss";

// Scale overflowing mathjax displays to page width
mjx-container.MathJax > svg {
    max-width: 100%;
}

// Prevent horizontal scroll bar on numbered equations in katex
span.katex-display {
    max-width: 100%;
    overflow: hidden;
    padding-top: 1px;
}


// put your custom CSS here!
