@use "./base.scss";

// Scale overflowing mathjax displays to page width
// mjx-container.MathJax>svg {
//     max-width: 100%;
// }

// Prevent horizontal scroll bar on numbered equations in katex
.katex-display>.katex>.katex-html {
    display: flex !important;
    align-items: baseline;
    // flex-wrap: wrap;
}

// Don't overlay the equation number in KaTeX displays
.katex-display>.katex>.katex-html>.tag {
    overflow-x: hidden;
    position: static !important;
    margin-left: auto;
}

.katex-display>.katex>.katex-html>.base:first-child {
    margin-left: auto;
}

.katex-display>.katex>.katex-html>.base:last-child {
    margin-right: auto;
}

// Prevent array's topmost \hline to get clipped
.katex-display {
    padding-top: 2px;
}


// Center SVGs
article>*>img[src$=".svg"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

// Invert SVGs in dark mode
:root[saved-theme="dark"] article>*>img[src$=".svg"] {
    filter: invert(1);
}

// Center tables
.table-container>table {
    margin-left: auto;
    margin-right: auto;
}

// Hide scrollbar if not needed in codeblock
pre>code {
    overflow-x: auto !important;
}

// Style inline code like codeblocks
pre {
    border: unset !important;
}
code {
    border: 1px solid var(--lightgray);
    background: unset !important;
}

// Shrink clipboard button to fit in a single line code block
.clipboard-button {
    margin: .2rem !important;
    padding: .3rem !important;
}

// Float thumbnail in the top left corner next to the installation instruction
img[alt="thumbnail"] {
    float: right;
    margin-left: 16px;
    max-height: 160px
}

// Hide Created with Quatz
footer > p {
    display: none;
}

// Smaller font size for headings
h1 {
    font-size: 1.4rem !important;
    margin-top: 1.9rem !important;
    margin-bottom: 1rem !important;
}

h2 {
    font-size: 1.12rem !important;
    margin-top: 1.62rem !important;
    margin-bottom: 1rem !important;
}

h3,
h4,
h5,
h6 {
    font-size: 1rem !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}

// put your custom CSS here!